<div class="row">
    <div class="col-md-12">
        <ul class="">
            <li *ngFor="let post of posts">
                {{post.title}}
            </li>           
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Widget</h1>        
        <widget-box></widget-box>
    </div>
    <ul>
        <li><a href="http://blog.thoughtram.io/angular/2015/04/09/developing-a-tabs-component-in-angular-2.html">Tab Component</a></li>
        <li><a href="http://juristr.com/blog/2016/02/learning-ng2-creating-tab-component/">Tab Component 2</a></li>
        <li><a href="http://blog.mgechev.com/2016/01/23/angular2-viewchildren-contentchildren-difference-viewproviders/">View Children or Content Children</a></li>
        <li><a href="http://angularjs.blogspot.com/2016/04/5-rookie-mistakes-to-avoid-with-angular.html">Common Mistakes</a></li>
        <li><a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Change Detection</a></li>
        <li><a href="http://victorsavkin.com/post/137821436516/managing-state-in-angular-2-applications">Managing State</a></li>
        <li><a href="http://victorsavkin.com/post/145672529346/angular-router">Routing</a></li>
    </ul>
</div>

