 
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<div [ngStyle]="rectStyle">
    <svg 
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         width="100%"
         height="100%"
         viewBox="0 0 99.999997 99.999997"
         id="svg2"
         version="1.1">
        <g id="layer1">
            <text [ngStyle]="textStyle"
                  xml:space="preserve"
                  x="50%"
                  y="50%"
                  dy=".3em"
                  id="text3338"
                  linespacing="125%"> {{textValue}}</text>
        </g>
    </svg>

</div>
