

/*﻿.collapsed-nav-menu {
    display:inline-block;
    height:100%;
}*/

.collapsed-nav-menu-area {
    /*display:inline-block;*/
    height:100%;
    z-index:1000;
    position:absolute;
    right:0;
}

.nav-button {
    height:40px;
    width:60px;
    border : 1px solid #888;
    font-size:26px;
    color:#777;
    position:fixed;
    right:10px;
    top:10px;
    padding-top:5px;
}

.nav-menu-area {
    position:relative;
    background-color:#333;
    color:#ccc;
    padding-left:0;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;   
}

.nav-menu-area-vertical {
    width:230px;
    min-height:100vh; /*100% vertical height*/
    /*padding-top:30px;*/
    z-index: 1000;
    position:fixed;
    /* Allows for the scroll when the components overflow*/
    height: 100%;
    overflow: auto;
}

.nav-menu-area .li:hover {
    color:#ccc;
}

.nav-group {
    list-style-type:none;
    vertical-align:top;
    padding-left:0;
    /*margin-top:0;*/
    margin-top:10px;
}

.nav-group ul{
    display:inline;
    list-style-type:none;
    padding-left:0;
    margin-top:0;
}

.nav-group li{   
   line-height:3em;
   cursor: pointer;
}

.nav-group-expanded{
    color: #DDD;
    margin-left:10px;
}

.nav-group-div, 
.nav-item-div {
   display:inline-block;
   width:100%;
    padding-left:10px;
    padding-right:10px;
}

.nav-group-div:hover, 
.nav-item:hover{
      background-color:#555;
      /*background-color:lightseagreen;*/
}

/*
    Navigation Sub Group
    Under Root. not working.. 
    use level to determine if float should be off. 
*/
.nav-subgroup{
    /*float : none !important*/
}

.nav-item {
    /**/
    /*padding-left:10px;
    padding-right:10px;*/
}


.nav-menu-icon {
    /*margin-right:10px;*/
}

.nav-item-selected{
    float: right;
    color: #DDD;
    margin-right:0;
    /*margin-top:5px;*/
    padding-left:10px;
    padding-right:10px;
 
}

.nav-item-div-selected {
    border-right:solid; 
    border-right-width:10px;
    border-right-color:darkorange;
    background-color:#777;
}


.nav-menu-area-horizontal {
    width:100%;
    height:60px;
    /*display: inline-block;*/
    float:left;
    z-index: 1000;
    position:fixed;
}



.nav-item-horizontal {
    float:none !important ; /*added to prevent*/
    /*display: inline-block;*/
    min-width: 175px !important;
    /*padding-left:10px;
    padding-right:10px;*/
    /*margin-left:15px;
    padding-right:15px;
    margin-top:2px;*/
    /*line-height: 1.5em !important;*/
}

.nav-root-item-horizontal {
    float:left;
    width: auto !important; /* size to the text */
    /*margin-left:15px;*/
    /*padding-left:10px;
    padding-right:10px;*/
    /*margin-top:5px;*/
    /*line-height: 1.5em !important;*/
    height: 100%;
    font-weight:bold;
}

.nav-item-horizontal-left {
    float:left;
    min-width: 175px !important;
    padding-left:10px;
    padding-right:10px;
}

.nav-item-horizontal-right {
     float:right;
    /*display: inline-block;*/
    width:  auto !important;
    margin-right:15px;
    padding-left:10px;
    padding-right:10px;
    /*line-height: 1.5em !important;*/
}

.nav-sub-item-horizontal {
    float:none !important ; /*added to prevent*/
    min-width: 175px !important;
    margin-left:15px;
}

.nav-sub-item-horizontal-right {
    float:right;
    margin-right:20px;
    width:  auto !important;
    margin-right:15px;
}


.nav-item-div-selected-horizontal {
    border-bottom:solid; 
    border-bottom-width:5px;
    border-bottom-color:darkorange;
    background-color:#777;
    padding-left:10px;
    padding-right:10px;
    width:100%;
    height:100%;
}

.nav-noselect{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.nav-popup-menu {
    position:absolute;
    z-index:1000;
    background-color:#333;
    /*width:200px;*/
    width:auto;
    padding-left:0;
}   
