<div class="row">
    <div class="col-sm-4">
        <h3>My First Angular 2 App<i class="fa fa-gear fa-2x"></i></h3>

        <img-gen rect-color="#8fff00" text-value="CW" text-color="#0010ff"></img-gen>
        <txt-img-gen width="100px" height="100px" rect-color="#b76dc0" text-value="CCW" text-color="#fbf6fb" is-circle="true"></txt-img-gen>

        <alert type="info" value="45">Alert!</alert>
        <progressbar value="25"></progressbar>
        <progressbar class="progress-striped" value="22" type="warning">22%</progressbar>
    </div>
</div>