
<!--<navgroup-container></navgroup-container>-->
<!--<ul class="topnav">
    <li><a class="active" [routerLink]="['Home']">Home</a></li>
    <li><a [routerLink]="['AppCaller']">Test</a></li>
    <li><a [routerLink]="['Dashboard']">Dashboard</a></li>
    <li><a [routerLink]="['Form']">Form</a></li>
    <li><a [routerLink]="['Widgets']">Widgets</a></li>
    <li><a [routerLink]="['Nav']">Nav</a></li>
    <li class="right"><a [routerLink]="['AppCaller']">About</a></li>
</ul>-->
{{Title}}
<div style="padding:60px 16px;">
    <h2>Responsive Topnav</h2>
    <p>This example use media queries to stack the topnav vertically when the screen size is 600px or less.</p>
    <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
    <h4>Resize the browser window to see the effect.</h4>
</div>
<router-outlet></router-outlet>
