<!--<navgroup-container></navgroup-container>-->


<div style="padding:60px 16px;">
    <h2>{{title}} : {{globalConfig?.Environment}}</h2>
    <p>This example use media queries to stack th</p>
    <p>You will learn more about</p>
    <h4>Resize the browser window</h4>
    <h4>Service URL : {{url}}</h4>
    <h4>Service Info : {{globalConfig.Environment}}</h4>
    <h4>Service URL Info : {{globalConfig.API_URL}}</h4>
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Home <span class="badge">42</span></a></li>
        <li><a href="#">Profile <span class="badge"></span></a></li>
        <li><a href="#">Messages <span class="badge">3</span></a></li>
    </ul>
    <!--<treeroot></treeroot>-->
</div>
<router-outlet></router-outlet>
