<div class="row">
    <div class="col-md-12">
        <h3>Search Filter Test</h3>
        <button class="btn btn-primary" (click)="toggleFilter()">Search</button>
        <div *ngIf="showFilter">
            <search-box (update)="filter=$event" (toggleFilter)="toggleFilter()"></search-box>
        </div>
        
        <ul>
            <li *ngFor="let record of records | search:filter">
                <span highlight-search [search]="filter" [text]="record.desc" classToApply="highlight">
                    {{ record | json}}
                    {{record.desc}}
                </span>
            </li>
        </ul>
    </div>
</div>